<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
</head>
<body>
<h3 style="color:red">简单的登录逻辑实现！</h3>
<h3 style="color:red">未进行数据校验！</h3>
<h3 style="color:red">未使用数据库！</h3>
<form style="width: 400px;margin: 100px auto" method="post">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">用户名</label>
    <input type="text"
           class="form-control"
           id="exampleInputEmail1"
           aria-describedby="emailHelp"
           name="username"
    >
    <div id="emailHelp" class="form-text">请随便填写一个名字</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">密码</label>
    <input type="password"
           class="form-control"
           id="exampleInputPassword1"
           name="password"
    >
    <div id="emailHelp" class="form-text">请随便填写一个密码</div>
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">记住我</label>
  </div>
  <button type="submit" class="btn btn-primary">提交</button>
  <hr>
  <ul class="list-group">
  <li class="list-group-item">不思进取，当了半辈子的脚本小子</li>
  <li class="list-group-item">不思进取，当了半辈子的脚本小子</li>
  <li class="list-group-item">不思进取，当了半辈子的脚本小子</li>
  </ul>
</form>
</body>
</html>